;;;;
; npm projectconfig file: C:\Users\dyitzchaki\github\slides\slides\modern-js-addons\electron-calendar\.npmrc
; this is a simple ini-formatted file
; lines that start with semi-colons are comments
; run `npm help 7 config` for documentation of the various options
;
; Configs like `@scope:registry` map a scope to a given registry url.
;
; Configs like `//<hostname>/:_authToken` are auth that is restricted
; to the registry host specified.

cmake_js_directory=src/cpp
cmake_js_out=dist/build
cmake_CMAKE_CXX_STANDARD=23
cmake_CMAKE_PROJECT_TOP_LEVEL_INCLUDES=cmake/conan_provider.cmake
